{
  "presets": ["@babel/typescript", ["@babel/env", { "targets": { "node": "12" } }], ["minify", { "builtIns": false, "evaluate": false, "mangle": false }]],
  "plugins": [["module-resolver", { "root": ["./src"], "alias": { "@": "./src" } }]],
  "sourceMaps": "both",
  "comments": false
}
