{
  "ignorePatterns": ["dist/**", "build/**"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    // Airbnb style guide 적용
    "airbnb-base",
    // TypeScript ESLint recommanded style 적용
    "plugin:@typescript-eslint/eslint-recommended"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["@", "./src"]],
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    }
  },
  "rules": {
    "max-len": ["error", { "code": 160 }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "import/no-extraneous-dependencies": ["error", { "bundledDependencies": false }],
    "import/extensions": ["error", "ignorePackages", { "js": "never", "jsx": "never", "ts": "never", "tsx": "never", "json": "never" }],
    "import/prefer-default-export": ["off"],
    "no-restricted-syntax": ["off"],
    "no-await-in-loop": ["off"]
  }
}
